/.hf_cache
/_shunchi
/downstream/states*
/downstream/logs
/downstream/example-*.json
/downstream/solver_older.py
/downstream/utils.py
/test_wyn

# extensions
*.egg-info
*.py[cod]
*.zip
*.mp4
*.gif
*.pt
*.png
*.jpg
*.pt
*.pth
*.glb

# envs
.pt13
.pt2

# directories
/checkpoints
/dist
/outputs
/build
/src
/test_output
/habitat-lab

/data
/wandb
/output
/data_temp
/igenex_DSAI
/models

evaluation/FVD/fvd/tensorflow/
evaluation/02.13Final
# evaluation/FVD/lpips
evaluation/sbatch_log/train/past/
evaluation/sbatch_log/sbatch_log_

evaluation/sbatch_log/*


evaluation/gen_quality/**/*.png
evaluation/gen_quality/**/*.json
collect_bbox/EU6Fwq7SyZv/
scripts/download_mp.py

PLOT/demo_hf/demo_source_data
PLOT/demo_hf/demo_source_data_back