*.pyc
*__pycache__
*.DS_Store
wiw_manip.egg-info/
CoppeliaSim_Pro_V4_1_0_Ubuntu20_04/
logs/
temp/
src/
outputs/
running/

*.png
*.tar.gz
*.zip
*.pt
*.whl


set_vllm_svd.sh
code_organization_note.md
.bashrc
.vscode/
docs/
test.sh
scripts/test_manip.sh

